node_modules
npm-debug.log
.logs
.cache
.vscode
.deploy
.build
yarn.lock
yarn-error.log
.eslintrc.json
.*/
**/node_modules
**/.*
!**/.seed
!**/.seed/**/node_modules
!**/.externalSeed
**/yarn-error.log
!.gitignore
!**/.gitignore
!.github
!.eslint*
!**/.eslint*

products
services
sites