<!DOCTYPE html>

<div class="container">
    <div class="row featurette">
        <div class="col-lg-5 ml-md-auto">
            <img src="assets/BusinessCoaching.jpg" style="object-fit: cover;" class="rounded align-middle" height="500"
                width="500">
        </div>
        <div class="col-lg-5 ml-md-1 align-self-center">
            <div class="card ">
                <p class="lead p-md-4" style="margin: 80;">
                    <b>Conscious Business Coach and Consultant</b><br><br>
                    <i class="bi-star"></i> Serial entrepreneur <br>
                    <i class="bi-star"></i> Writer, Multimedia Artist, a Romantic Philosopher<br>
                    <i class="bi-star"></i> Subconscious Madwoman, Life Scientist, Earth Guardian<br>
                    <i class="bi-star"></i> Multidimensional Priestess. <br>
                    <i class="bi-star"></i> Specializing in Human Relations, Connection, Belonging, Self
                    Expression,
                    Global Engagement &
                    Activism <br>
                    <i class="bi-star"></i> 200HR Certified Meditation Teacher by The Dharana Method<br> Not
                    a
                    therapist. Not a doctor. Not a practitioner. <br>
                    <i class="bi-star"></i> <b>Working with Me</b><br>
                    <i class="bi-star"></i> Bringing 7 years business, mindset, and esoteric experience<br>
                    <i class="bi-star"></i> Invested in over $15,000 in programs and mentors of my own<br>
                    <i class="bi-star"></i> 5+ formal certificates to support my custom-weaved framework:
                    Graphic
                    communication
                    <i class="bi-star"></i> Certification, meditation teaching, mastery for coaches, Rhythm,
                    Body
                    Soul Master Course,
                    <i class="bi-star"></i> Creatrix Activation.

                </p>
            </div>
        </div>

    </div>
</div>