<!DOCTYPE html>

<script>
    vprops({
        iconSrc: '/icon.jpg',
        title: 'Title for the Hero',
        description: 'Test des'
    });
    vcomponent('icon-hero', {
        getIconSrc() {
            return this.iconSrc
        }
    });
</script>

<div class="container">
    <div class="row">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" v-bind:src="iconSrc" alt="" width="25%">
            <h1 class="display-5 fw-bold">{{title}}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">{{description}}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Schedule Consultation</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
            </div>
        </div>
    </div>
</div>