<!DOCTYPE html>
<div class="row">

    <div class="row">
        <!-- Purchases -->
        <div class="pricing-header pt-4 mx-auto">
            <h1 class="display-4 fw-normal">Offerings</h1>
        </div>
    </div>
    <div class="row">

        <!--_____________________________________row
    Title
    _____________________________________________row
    ________________________________________container
    |< size small >||< size small >||< size small >|
    | title        || title        || title        |
    |x x x x x x x ||x x x x x x x ||x x x x x x x |
    |x x x x x x x ||x x x x x x x ||x x x x x x x |
    |x photo-src x ||x photo-src x ||x photo-src x |
    |x x x x x x x ||x x x x x x x ||x x x x x x x |
    |x x x x x x x ||x x x x x x x ||x x x x x x x |
    |x x x price x ||x x x price x ||x x x price x |
    |              ||              ||              |
    | description  || description  || description  |
    |              ||              ||              |
    |*bulletPoints ||*bulletPoints ||*bulletPoints |
    |*bulletPoints ||*bulletPoints ||*bulletPoints |
    | [buttonText] || [buttonText] || [buttonText] |
    _______________________________________________
    
    |<                 size large                 >|
-->


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">

                    <!-- TODO figure out why the formatting wont put the button at the bottom and fix the top header to be the same size between cols-->
                    <div v-for="row in purchase-list" class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3 ">
                            <h4 class="my-0 fw-normal">{{title}}</h4>
                        </div>
                        <div class="card-body py-3">
                            <h1 class="card-title pricing-card-title">
                                <div>
                                    <br><br><br><br>{{price
                                    }}<small class="text-muted fw-light">/session</small>
                                </div>

                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                Get clarity on your next steps to achieving personal satisfaction and fulfillment,
                                covering
                                all
                                things mindfulness, lifestyle, and business.
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary end-100">
                                Sign up for a session
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Tea and strategy </h4>
                        </div>
                        <div class="card-body h-100">
                            <h1 class="card-title pricing-card-title" style="text-align: right;">
                                <br><br><br><br>$177<small class="text-muted fw-light">/session</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Sit with Plant Medicine</li>
                                <li>Contemplate and Discuss Personal Purpose</li>
                                <li>Reflect on Blocks, Challenges, and Path Forward</li>

                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary end-100">Create a
                                plan</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card mb-4 rounded-3 shadow-sm h-100">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Quantum Business Planning</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><br><br><br><br>$375<small
                                    class="text-muted fw-light">/session</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                Together, we explore Quantum Business Planning to map your mission, your financial
                                goals,
                                and
                                your business model - speaking to aligned revenue streams and strategies.
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Get now</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row py-3">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm ">
                        <div class="card-header py-3 ">
                            <h4 class="my-0 fw-normal">Retreat</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$2700<small class="text-muted fw-light">/12
                                    sessions</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Align Your Mission + Business Model</li>
                                <li>1-1 Strategy Support</li>
                                <li>Ground Your Business Into Natural Reciprocity</li>
                                <li>Weekly Email Support</li>
                            </ul>
                            <p>This is for you if you are ready to:<br> - ALIGN YOUR MISSION + BUSINESS
                                MODEL<br> - CREATE A BUSINESS PLAN W PEOPLE, PROFIT, AND PLANET
                                PROJECTIONS<br> - GROUND YOUR BUSINESS INTO NATURAL RECIPROCITY<br>
                            </p>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>