<!DOCTYPE html>

<!-- Services!!  -->


<div class="container-fluid">
    <!-- COLUMN 1 -->
    <div class="row g-4 pb-4 row-cols-1 row-cols-lg-3">
        <div class="feature">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi " width="1em" height="1em">
                    <use xlink:href="#collection"></use>
                </svg>
            </div>
            <h2> Understand your business</h2>
            <p>I aim to support creative activists from revenue streams that fully encompassion
                their aligned business mission. Guides through the process of designing a
                business model from conception, through execution, to conclusion.<br>

                <br><i class="bi-star-fill"></i> Support translating your Business Mission into
                a Business Model
                <br><i class="bi-star-fill"></i> Supporting Business Model Architecting:
                mentorship process, designed by me. To support you in your BIG mission; defining
                and brainstorming support
                <br><i class="bi-star-fill"></i> Course Design Feedback and Support
                <br><i class="bi-star-fill"></i> Learn the Fulcrum Strategy Formula; the New
                World ROI
                <br><i class="bi-star-fill"></i> Blueprint Considerations: Birth Chart
                translated through
                <br><i class="bi-star-fill"></i> Astrology and Numerology for personalized
                esoteric insights
            </p>
            <a href="#" class="icon-link">
                Call to action
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
        <div class="feature">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#people-circle"></use>
                </svg>
            </div>
            <h2>Synergize your Business</h2>
            <!-- TODO-->
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                another sentence and probably just keep going until we run out of words.</p>
            <!-- TODO--><a href="#" class="icon-link">
                Call to action
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
        <div class="feature">
            <div class="feature-icon bg-primary bg-gradient">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <!-- TODO-->
            <h2>Featured title</h2>
            <!-- TODO-->
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
    </div>